/* GENERAL */
body {
    font-family: calibri, sans-serif;
    font-size: 14px;
    height: 100%;
}

/* CONTENT */
.container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 300px;
  height: 350px;
  background-color: #f7f7f7;
  display: block;
  padding: 20px;
  border: 1px solid;
  border-color: #d7d7d7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.logo{
  padding: 30px 0;
}

input{
  text-align: left;
  padding: 10px;
  margin: 5px;
  width: 80%;
}

input.submit{
  background-color: #4d90fe;
  color: white;
  text-align: center;
  width: 88%;
  border: 0;
}

input.submit:hover{
  background-color: #2f5bb7;
}
.row{
  width: 89%;
  text-decoration: none;
  color:#666;
  opacity: 0.8;
  text-align: center;
  padding-right: 10px;
}
.row li{
  display: inline;
}
.row li a:hover{
  color:#8f9091;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}
